

.fa-mod {

    color: #79C791;


}

.fa-mod:hover {
  color: #333;

}

#invisible_link:hover{
  background:none;
}

.blank-button{
  border: '0px';

}

.blank-button:hover{
  border: '0px';
  background:none;

}
