// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.center{
  text-align:center;
    vertical-align:middle;
}

.search-result-image {
    width : 140px;
    height : 140px;
  }

