<div class ="row">
  <header id="header" class="">
    <nav class="navbar navbar-fixed-top " style="background-color:white">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand"  onclick="scroll_home()">Findr</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://cybernabojr.github.io">Contact</a></li>
            <li>
<!--
              <%= form_for search_path, method: :get, class: "form-inline" do |f|%>

                  <div class="form-group" width="100px">
                  <div width="50%">
                <%= text_field_tag :q, params[:q], class: "form-control" %>
                </div>
                <div width= "50%">
                  <%= submit_tag "Go", name: nil , class: "btn btn-large btn-default btn-lg blank-button " %>
                </div>
                </div>

 -->
            <% end %></li>
          </ul>
          </div><!--/.nav-collapse -->
        </div>
        <hr style="margin:0px;">
      </nav>
      </header><!-- /header -->
    </div>
